{% extends 'index.html' %}
{% block body_left %}
    <ul class="nav nav-sidebar">
        {% for role in request.user.userprofile.role.select_related %}
            {% for menu in role.menu.select_related %}
                <li>
                    <a href="
                        {% if menu.url_type == 0%}
                            {{ menu.url_detail }}
                        {% else %}
                            {% url menu.url_detail %}
                        {% endif %}">{{ menu.url_name }}</a>
                    
                </li>
            {% endfor %}

        {% endfor %}
    </ul>
{% endblock %}

{% block body_right %}
<h2>crm dashboard</h2>
{% endblock %}